@model List<Coche>
<style>

    body {
        font-family: 'Lobster', cursive;
        margin: 0;
        box-sizing: border-box;
        font-size: 16px;
        position: relative;
        background-color: black;
    }

    .shop-window {
        position: relative;
        top: 150px;
        left: 150px;
        z-index: 9999;
        width: 1024px;
        background-color: #f7f7f7;
        box-shadow: 20px 2px 20px grey;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .shop-window_item-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 0 50px 30px;
    }

    h2 {
        font-size: 2.3rem;
    }

    .shop-window_item-image {
        flex: 1;
    }

    .shop-window_item-image_image {
        margin: auto;
        width: 400px;
    }

    img {
        width: 100%;
    }
</style>





@{ int cont = 0;
}


@foreach (Coche item in Model)
{



    <div class="shop-window" style="margin-bottom:50px">


        <div class="shop-window_item-desc">
            <h2>@Html.DisplayFor(modelItem => item.Nombre)</h2>
            <div class="shop-window_item-desc_choice">
                <p>  @Html.DisplayFor(modelItem => item.Descripcion)</p>
                <p style="color:limegreen"> @Html.DisplayFor(modelItem => item.Precio)€</p>



            </div>
        </div>
        <div class="shop-window_item-image">
            <div class="shop-window_item-image_image">
                <img src="https://s3-proyexto.s3.amazonaws.com/@Html.DisplayFor(modelItem => item.Foto1)" class="shop-window_item-image_image_large" />
            </div>
        </div>
        <div>
            @*<h2 style="margin-right:10px;width:50px;height:200px"><a asp-controller="Coches" asp-action="DeleteCoche" asp-route-idcoche="@item.IdCoche" class="btn btn-danger">X</a></h2>*@

        </div>

    </div>
    <br />
    <hr />
    <br />
}